footer {
    text-align: center;
    background-color: burlywood;
    color: teal;
    border-radius: 25px;
    width: 50%;
    height: 10%;
    padding: 5px;
    margin: 0 auto;
}
.space {
    background-color: teal;
    padding: 25px;
}
h1 {
    color: teal;
    background-color: burlywood;
    text-align: center;
    font-size: 300%;
}
.header {
    color:teal;
    background-color: burlywood;
    img: url("/WebsitePictures/Londyn.JPG");
    text-align: center;
    font-size: 250%;
    }
    a {
        color: salmon;
        text-decoration: none;
    }
    .Nav {
        color: burlywood;
        background-color: teal;
        }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    a:hover {
        color: white;
    }
    h3 {
        background-color: teal;
        color: burlywood;
        text-align: center;
        font-size: 200%;
    }