
a {
    color: salmon;
    text-decoration: none;
}
.nav {
    color: burlywood;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a:hover {
    color: white;
}
body {
    background-image: url("/WebsitePictures/weather\ background.gif");
    background-size: cover;
    
}
.day0, .day1, .day2, .day3, .day4 {
    font-size: 500%;
    text-align: center;
    font-family: impact;
    
}
.nav {
    text-align: center;
    font-size: 250%;
    background-color: burlywood;
}
.place {
    text-align: center;
    font-family: impact;
    

}
h1 {
    text-align: center;
    font-family: impact;
    font-size: 500%;
}
h2 {
    text-align: center;
    font-family: impact;
    font-size: 400%;
    text-decoration: underline;
}
#gif {
    float: center;
}

